@model OtoServis.Entities.Musteri

@{
    ViewData["Title"] = "Sil";
}

<h1>Sil</h1>

<h3>Silmek istiyor musunuz?</h3>
<div>
    <h4>Müşteri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TcNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TcNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notlar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notlar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arac.KasaTipi)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index">Listeye Dön</a>
    </form>
</div>
