@model HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
 
    <div class="carousel-inner">
       
        @foreach (var item in Model.Sliders)
        {
            <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "")">
                <img src="/Img/Slider/@item.Resim" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>@item.Baslik</h5>
                    <p>@item.Aciklama</p>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4">Oto Servis ve Satış</h1>
    <p>Oto Servis</p>
</div>


<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model.Araclar)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/Img/Cars/@item.Resim1" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@item.Marka.Adi @item.Modeli @item.KasaTipi</h5>
                            <!-- Product price-->
                            @item.Fiyati ₺
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Arac/Index/@item.Id">İncele</a></div>
                    </div>
                </div>
            </div>
        }
     </div>
</div>

